manifest {
    name            = 'AntonioPuriel/mag-pipeline'
    author          = 'Antonio Puriel Hernández'
    description     = 'MAG recovery from paired-end shotgun metagenomes'
    nextflowVersion = '>=24.04.0'
    version         = '0.1.0'
}

params {
    input             = null
    outdir            = 'results'
    assembly_mode     = 'coassembly'   // 'coassembly' or 'per_sample'
    min_read_length   = 50
    min_contig_length = 1500
    binners           = 'concoct,metabat2'   // any of: concoct, metabat2
}

includeConfig 'conf/base.config'

profiles {
    test        { includeConfig 'conf/test.config' }
    docker      { docker.enabled = true }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    slurm       { includeConfig 'conf/slurm.config' }
    pyrene      { includeConfig 'conf/pyrene.config' }
}
