// Pyrene cluster (UPPA): use the pre-installed conda environments
// Before running: module load bioconda-tools/3
// CONCOCT is not installed on Pyrene: create it once with
//   conda create -p ~/envs/concoct -c conda-forge -c bioconda concoct=1.1.0 samtools -y

conda.enabled = true

params {
    checkm2_db = '/softs/contrib/apps/anaconda/3/envs/checkm2-1.0.1/databases/CheckM2_database/uniref100.KO.1.dmnd'
    // Taxonomy is off by default because GTDB-Tk is slow and needs a large-memory node.
    // Enable it with:
    //   --gtdbtk_db /softs/contrib/apps/anaconda/3/envs/gtdbtk-2.7.2/share/gtdbtk-2.7.2/db
    // Functional annotation is off by default too. Enable it with:
    //   --eggnog_db /softs/contrib/apps/anaconda/3/envs/eggnog-mapper-2.1.13/databases
}

process {
    withName: 'FASTP' {
        conda = '/softs/contrib/apps/anaconda/3/envs/fastp-0.23.4'
    }
    withName: 'MEGAHIT' {
        conda = '/softs/contrib/apps/anaconda/3/envs/megahit-1.2.9'
    }
    withName: 'BOWTIE2_BUILD|BOWTIE2_ALIGN' {
        conda        = '/softs/contrib/apps/anaconda/3/envs/bowtie2-2.5.1'
        beforeScript = 'export PATH=/softs/contrib/apps/anaconda/3/envs/samtools-1.17/bin:$PATH'
    }
    withName: 'CONTIG_DEPTHS|METABAT2' {
        conda = '/softs/contrib/apps/anaconda/3/envs/metabat2-2.18'
    }
    withName: 'CONCOCT' {
        conda = "${System.getenv('HOME')}/envs/concoct"
    }
    withName: 'DAS_TOOL' {
        conda = '/softs/contrib/apps/anaconda/3/envs/das_tool-1.1.7'
    }
    withName: 'CHECKM2' {
        conda = '/softs/contrib/apps/anaconda/3/envs/checkm2-1.0.1'
    }
    withName: 'GTDB_TK' {
        conda = '/softs/contrib/apps/anaconda/3/envs/gtdbtk-2.7.2'
    }
    withName: 'PRODIGAL' {
        conda = '/softs/contrib/apps/anaconda/3/envs/prodigal-2.6.3'
    }
    withName: 'EGGNOG_MAPPER' {
        conda = '/softs/contrib/apps/anaconda/3/envs/eggnog-mapper-2.1.13'
    }
}
