// Pyrene cluster (UPPA): use the pre-installed conda environments
// Before running: module load bioconda-tools/3

conda.enabled = true

process {
    withName: 'FASTP' {
        conda = '/softs/contrib/apps/anaconda/3/envs/fastp-0.23.4'
    }
    withName: 'MEGAHIT' {
        conda = '/softs/contrib/apps/anaconda/3/envs/megahit-1.2.9'
    }
}
